body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-top: 0;
    transition: color 0.3s ease; /* Adiciona transição de cor */
}

h1:hover {
    color: #1a73e8;
}

h3 {
    color: #000;
    cursor: default;
}

textarea {
    width: 80%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
}

.result p {
    margin: 5px 0;
}

.result span {
    font-weight: bold;
    color: #000;
    transition: color 0.3s; /* Adiciona transição suave na cor */
}

.result span:hover {
    color: #1a73e8;
}

h3 :hover {
    color: #1a73e8;
}

footer {
    margin-top: 10rem; /* Espaçamento acima do footer */
    text-align: center; /* Centraliza o texto do footer */
    color: #969696; /* Cor do texto do footer */
    background-color: #f0f0f0; /* Cor de fundo do footer (substitua pelo desejado) */
    padding: 10px 0; /* Adiciona espaço interno ao footer */
}

footer p {
    margin: 0; /* Remove margens padrão */
    font-size: 14px; /* Ajusta o tamanho da fonte */
}

footer a {
    color: #1a73e8; /* Cor do link */
    text-decoration: none; /* Remove o sublinhado do link */
}

footer a:hover {
    text-decoration: underline; /* Sublinha o link ao passar o mouse */
}